body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('../resources/images/restaurantes-de-lujo-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}
.container {
    width: 80%;
    margin: 20px 0;
}
.section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
.section h2 {
    margin-top: 0;
}

.food-list {
    list-style-type: none;
    padding: 0;
}
.food-item {
    margin-bottom: 10px;
}
.food-item img {
    max-width: 100px;
    display: block;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 10%;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}